// TODO: Replace all hardcoded values to variables
.chat {
  max-height: 100vh;
  display: flex;
  flex-direction: column;

  &__footer {
    padding: 8px 0;
    display: flex;
    justify-content: end;
  }
}
